.heading{
    font-size: 6vw;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    width: 100%;
}

.input{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}

@media (max-width: 900px){
    .header{
        height: 25vh;
    }
    .heading{
        font-size: 11vw;
    }
}

.search, .select{
    width: 43%;
    color: #fff;
    padding: 5px;
}